@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: antiquewhite;
    padding: 0;
    font-family: Roboto;
    margin: 0;
}

.photo {
    width: 200px;
    height: 250px;
    border-radius: 50%;
    transition: ease-out 1s;
}

.photo-container:hover .photo {
    transform: rotateY(180deg);
}

.container {
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hobby__item {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    overflow: hidden;
}

.hobby__item * {
    margin-right: 20px;
    text-align: center;
}

.left__image {
    max-width: 450px;

}

.left__image img {
    max-width: 100%;
}

.right__text {
    display: flex;
    align-items: center;
}

.science__item {
    border-bottom: 1px solid black;
    padding: 10px;
}

.underscore-text {
    background-color: rgba(155,155,255,155);
    border-radius: 5px;
    padding: 2px;
    color: white;
    text-decoration: underline;

}

.underscore-text:hover {
    text-decoration: none;
}

.links__item:hover * {
    text-decoration: none;
}

.biography__fullname {
    text-shadow: 7px 2px 5px rgba(0,0,0,0.9);
    font-weight: 900;
    font-size: 24px;
    color: coral;
}

.hobby-container {
    display: flex;
    flex-direction: column;
}

@media(max-width: 768px) {
    .hobby__item {
        flex-direction: column;
        margin-bottom: 50px;
        height: 350px;
    }

    .left__image {
        overflow: hidden;
    }
}


.science-works {
    max-width: 100%;
}

.science-works * img {
    max-width: 100%;
}